@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/*/_______ADDONS_PAGE_FIX________/*/

@-moz-document url(about:addons) {
    .addon.card {
        padding: 4px !important;
        padding-right: 6px !important;
        padding-left: 11px !important;
        margin: -1px !important;
        margin-top: 4px !important;
        border-radius: 7px !important;
    }

    :root {
        --section-width: 950px !important;
    }
}

/* Dracula 133 adjustment */
@-moz-document url-prefix("about:"),
url-prefix("chrome:") {
    :root {
        --uc-my-color: rgb(189, 147, 249);
        --uc-my-color-hover: rgb(214, 172, 255);
        --uc-my-color-active: rgb(214, 172, 255);

        --color-accent-primary: var(--uc-my-color) !important;
        --color-accent-primary-hover: var(--uc-my-color-hover) !important;
        --color-accent-primary-active: var(--uc-my-color-active) !important;

        --in-content-primary-button-background: var(--uc-my-color) !important;
        --in-content-primary-button-background-hover: var(--uc-my-color-hover) !important;
        --in-content-primary-button-background-active: var(--uc-my-color-active) !important;

        --primary-button-background-color: var(--uc-my-color) !important;
        --primary-button-hover-background-color: var(--uc-my-color-hover) !important;
        --primary-button-active-background-color: var(--uc-my-color-active) !important;
    }

    treechildren::-moz-tree-row(current, focus) {
        outline-color: var(--uc-my-color) !important;
    }

    ::selection {
        background-color: var(--uc-my-color);
    }
}

@-moz-document url("about:newtab"),
url("about:home") {
    :root {
        --newtab-primary-action-background: var(--uc-my-color) !important;
        --newtab-primary-action-background-pocket: var(--uc-my-color) !important;
    }
}

@-moz-document url("about:firefoxview") {
    :root {
        --fxview-primary-action-background: var(--uc-my-color) !important;
    }
}
