#TabsToolbar-customization-target {
  visibility: collapse;
}

#private-browsing-indicator-with-label {
  display: none !important;
}

{{ if eq .chezmoi.os "windows" -}}
#nav-bar {
  border-top: 0px !important;
  margin-right: 144px;
  margin-top: -30px;
}
{{ end -}}

/* remove icons from bookmar bar */
#personal-bookmarks .bookmark-item > .toolbarbutton-icon {display:none!important}

@-moz-document url(chrome://browser/content/browser.xul) {
  /* Remove " - Visit" or " - Search with" bar in the drop-down */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[type*="heuristic"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="keyword"] {
    display:none !important;
  }

  #PopupAutoCompleteRichResult .autocomplete-richlistbox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  /* EXCEPTION: Show "Search with" for keyworded search engines */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"][displayurl*=',"alias":'],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"][url*=',"alias":']{
    display:-moz-box !important;
  }

  /* Hide sidebar header */
  #sidebar-header {
    display: none !important;
  }

  .tabbrowser-tab[notselectedsinceload="true"] {
    color: crimson !important;
  }
}

dialog, .dialogBox {
  --in-content-primary-button-background: rgb(189, 147, 249) !important;
  --in-content-primary-button-background-hover: rgb(214, 172, 255) !important;
  --in-content-primary-button-background-active: rgb(214, 172, 255) !important;
  --in-content-table-header-background: rgb(255, 121, 198) !important;
  --checkbox-checked-bgcolor: rgb(189, 147, 249) !important;
  --checkbox-checked-hover-bgcolor: rgb(214, 172, 255) !important;
  --checkbox-checked-active-bgcolor: rgb(214, 172, 255) !important;
}

@media not (prefers-contrast) {
    @media (prefers-color-scheme: dark) {
        :root:-moz-lwtheme {
            --focus-outline-color: rgb(214, 172, 255) !important;
        }
    }
}

