{{ $keepassXcDbPath := promptString "path to KeePassXC database" -}}
{{ $keepassXcKeyFilePath := promptString "path to KeePassXC key file" -}}
[diff]
    pager = "delta"

{{ if $keepassXcDbPath -}}
[keepassxc]
    database = {{ $keepassXcDbPath | quote }}
{{- end }}
{{- if $keepassXcKeyFilePath }}
    args = ["-k", {{ $keepassXcKeyFilePath | quote }}]
{{- end }}
