{{ $keepassXcDbPath := promptString "path to KeePassXC database" -}}
{{ $keepassXcKeyFilePath := promptString "path to KeePassXC key file" -}}
{{- $choices := list "prv" "work" -}}
{{- $hostType := promptChoice "type of host" $choices -}}
[data]
    hostType = {{ $hostType | quote }}

[diff]
    pager = "delta"

{{ if $keepassXcDbPath -}}
[keepassxc]
    database = {{ $keepassXcDbPath | quote }}
{{- end }}
{{- if $keepassXcKeyFilePath }}
    args = ["-k", {{ $keepassXcKeyFilePath | quote }}]
{{- end }}
