{{- $autoCrLf := "input" -}}
{{- $credHelper := "store" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $autoCrLf = "true" -}}
{{- $credHelper = "manager-core" -}}
{{- else -}}
{{-   if and (index .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $credHelper = output "command" "-v" "git-credential-manager-core.exe" | trim -}}
{{-   end -}}
{{- end -}}

[core]
    pager = delta
    autocrlf = {{ $autoCrLf }}
{{- if eq .chezmoi.os "windows" }}
    quotepath = false
    commitGraph = true
    longpaths = true

[credential "helperselector"]
    selected = manager-core

{{- end }}

[credential]
    helper = {{ $credHelper }}

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[includeIf "gitdir:~/Repos/Work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/Repos/_{{ keepassxcAttribute "Google prv" "name" }}/"]
    path = ~/.gitconfig-prv
