{{- $autoCrLf := "input" -}}
{{- $credHelper := "store" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $autoCrLf = "true" -}}
{{- $credHelper = "manager-core" -}}
{{- else -}}
{{-   if and (index .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $credHelper = output "command" "-v" "git-credential-manager.exe" | trim -}}
{{-   end -}}
{{- end -}}

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = -version:refname

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[core]
    pager = delta
    autocrlf = {{ $autoCrLf }}
    excludesFile = {{ .chezmoi.homeDir }}/.gitignore
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    quotepath = false
    commitGraph = true
    longpaths = true
    fileMode = false

[credential "helperselector"]
    selected = manager-core

{{- end }}

[credential]
    helper = {{ $credHelper }}

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[alias]
    rank = "shortlog -s -n --no-merges"

[includeIf "gitdir/i:Repos/Work/"]
    path = .gitconfig-work
[includeIf "gitdir/i:Repos/_{{ keepassxcAttribute "Google prv" "name" }}/"]
    path = .gitconfig-prv
[includeIf "gitdir/i:chezmoi/"]
    path = .gitconfig-prv

