{{- $autoCrLf := "input" -}}
{{- $credHelper := "store" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $autoCrLf = "true" -}}
{{- $credHelper = "manager-core" -}}
{{- else -}}
{{-   if and (index .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $credHelper = output "command" "-v" "git-credential-manager-core.exe" | trim -}}
{{-   end -}}
{{- end -}}

[core]
    pager = delta
    autocrlf = {{ $autoCrLf }}
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    quotepath = false
    commitGraph = true
    longpaths = true

[credential "helperselector"]
    selected = manager-core

{{- end }}

[credential]
    helper = {{ $credHelper }}

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[alias]
    rank = "shortlog -s -n --no-merges"

[includeIf "gitdir:{{ .chezmoi.homeDir }}/Repos/Work/"]
    path = {{ .chezmoi.homeDir }}/.gitconfig-work
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Repos/_{{ keepassxcAttribute "Google prv" "name" }}/"]
    path = {{ .chezmoi.homeDir }}/.gitconfig-prv
