{{- $autoCrLf := "input" -}}
{{- $credHelper := "store" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $autoCrLf = "true" -}}
{{- $credHelper = "manager-core" -}}
{{- else -}}
{{-   if and (index .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $credHelper = output "command" "-v" "git-credential-manager.exe" | trim -}}
{{-   end -}}
{{- end -}}

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = -version:refname

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[core]
    pager = delta
    autocrlf = {{ $autoCrLf }}
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    quotepath = false
    commitGraph = true
    longpaths = true
    fileMode = false

[credential "helperselector"]
    selected = manager-core

{{- end }}

[credential]
    helper = {{ $credHelper }}

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[alias]
    rank = "shortlog -s -n --no-merges"
    tag-date = "!git show --quiet $1 | awk '/Date:/{ print substr($0, index($0,$3)) }' | head -1 #"
    tag-message = "!git tag -l --format='%(contents)' $1 #"
    tagm = "!GIT_TAG_MESSAGE=$(git tag-message $1) && GIT_COMMITTER_DATE=$(git tag-date $1) && git tag-message $1 && git tag -d $1 && git tag -a $1 $2 -m \"$GIT_TAG_MESSAGE\" #"
    tagmp = "!git tagm $1 $2 && git push --delete origin tags/$1 && git push origin tags/$1 #"
    worktree-add = "!f() { \
        if [ $# -lt 1 ] || [ $# -gt 3 ]; then \
            echo 'Usage: git worktree-add <dir> [<branch>] [<start-point>]'; \
            echo '  <dir>         - Directory name for worktree'; \
            echo '  <branch>      - Branch name (defaults to <dir>)'; \
            echo '  <start-point> - Create new branch from this point'; \
            return 1; \
        fi; \
        DIR=$1; \
        BRANCH=${2:-$1}; \
        START_POINT=${3:-}; \
        if [ -n \"$START_POINT\" ]; then \
            echo \"Creating new branch '$BRANCH' from '$START_POINT'...\"; \
            git worktree add -b \"$BRANCH\" \"$DIR\" \"$START_POINT\"; \
        elif git show-ref --verify --quiet refs/remotes/origin/$BRANCH; then \
            echo \"Tracking existing remote branch 'origin/$BRANCH'...\"; \
            git fetch origin -q && \
            git worktree add --track -b \"$BRANCH\" \"$DIR\" \"origin/$BRANCH\"; \
        elif git show-ref --verify --quiet refs/heads/$BRANCH; then \
            echo \"Using existing local branch '$BRANCH'...\"; \
            git worktree add \"$DIR\" \"$BRANCH\"; \
        else \
            echo \"Creating new branch '$BRANCH' from current HEAD...\"; \
            git worktree add -b \"$BRANCH\" \"$DIR\"; \
        fi; \
    }; f"
    worktree-clone = "!f() { \
        BASENAME=${1##*/}; DIRNAME=${2:-${BASENAME%.*}}; \
        mkdir $DIRNAME && \
        git -C $DIRNAME clone --bare $1 .bare && \
        echo 'gitdir: ./.bare' >$DIRNAME/.git && \
        git -C $DIRNAME config remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*' && \
        DEFAULT_BRANCH=$(git -C $DIRNAME remote show origin | awk '/HEAD branch/ {print $3}') && \
        git -C $NAME worktree-add $DEFAULT_BRANCH; \
    }; f"

[includeIf "gitdir/i:Repos/Work/"]
    path = config-work
[includeIf "gitdir/i:Repos/_{{ keepassxcAttribute "Google prv" "name" }}/"]
    path = config-prv
[includeIf "gitdir/i:chezmoi/"]
    path = config-prv
{{- if eq .chezmoi.os "linux" }}
[includeIf "gitdir/i:/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/"]
    path = config-prv
{{- end }}
{{ if eq .hostType "work" }}
[url "bay.github.com:{{ keepassxcAttribute "_bay GitHub" "gh_org" }}"]
    insteadOf = git@github.com:{{ keepassxcAttribute "_bay GitHub" "gh_org" }}
{{- end }}
