{{- $autoCrLf := "input" -}}
{{- $credHelper := "store" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $autoCrLf = "true" -}}
{{- $credHelper = "manager-core" -}}
{{- else -}}
{{-   if and (index .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $credHelper = output "command" "-v" "git-credential-manager.exe" | trim -}}
{{-   end -}}
{{- end -}}

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = -version:refname

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[core]
    pager = delta
    autocrlf = {{ $autoCrLf }}
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    quotepath = false
    commitGraph = true
    longpaths = true
    fileMode = false

[credential "helperselector"]
    selected = manager-core

{{- end }}

[credential]
    helper = {{ $credHelper }}

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[alias]
    rank = "shortlog -s -n --no-merges"
    tag-date = "!git show --quiet $1 | awk '/Date:/{ print substr($0, index($0,$3)) }' | head -1 #"
    tag-message = "!git tag -l --format='%(contents)' $1 #"
    tagm = "!GIT_TAG_MESSAGE=$(git tag-message $1) && GIT_COMMITTER_DATE=$(git tag-date $1) && git tag-message $1 && git tag -d $1 && git tag -a $1 $2 -m \"$GIT_TAG_MESSAGE\" #"
    tagmp = "!git tagm $1 $2 && git push --delete origin tags/$1 && git push origin tags/$1 #"

[includeIf "gitdir/i:Repos/Work/"]
    path = config-work
[includeIf "gitdir/i:Repos/_{{ keepassxcAttribute "Google prv" "name" }}/"]
    path = config-prv
[includeIf "gitdir/i:chezmoi/"]
    path = config-prv
{{- if eq .chezmoi.os "linux" }}
[includeIf "gitdir/i:/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/"]
    path = config-prv
{{- end }}
{{ if eq .chezmoi.os "darwin" }}
[url "bay.github.com:{{ keepassxcAttribute "_bay GitHub" "gh_org" }}"]
    insteadOf = git@github.com:{{ keepassxcAttribute "_bay GitHub" "gh_org" }}
{{- end }}
