[[grammar]]
name = "nginx.conf"
source = { git = "https://gitlab.com/joncoole/tree-sitter-nginx", rev = "f6d13cf6281b25f2ce342a49a41a10a0381e00f0" }

[[grammar]]
name = "ini"
source = { git = "https://github.com/justinmk/tree-sitter-ini", rev = "e4018b5176132b4f3c5d6e61cea383f42288d0f5" }

[[language]]
name = "ini"
scope = "source.ini"
file-types = [
  "ini",
  "desktop",
  { glob = "mimeapps.list" },
  # Podman quadlets
  "container",
  "volume",
  "kube",
  "network",
  { glob = ".editorconfig" },
  { glob = ".npmrc" },
  { glob = "hgrc" },
  { glob = "npmrc" },
  { glob = "rclone.conf" },
  { glob = ".aws/config" },
  "properties",
  "cfg",
  "directory",
  { glob = ".wslconfig" },
  # Custom
  { glob = ".config/btop/btop.conf" },
  { glob = ".config/bat/config" }
]
injection-regex = "ini"
comment-token = "#"
indent = { tab-width = 4, unit = " " }

{{ if and (ne .chezmoi.os "windows") (lookPath "dotnet") -}}
[language-server.bicep-langserver]
command = "dotnet"
args = ["/opt/bicep-langserver/Bicep.LangServer.dll"]
{{- end }}
