# # ex - archive extractor
# # usage: ex <file>
ex ()
{
  if [ -f "$1" ] ; then
    case "$1" in
      *.tar.bz2)   tar xjf "$1"   ;;
      *.tar.gz)    tar xzf "$1"   ;;
      *.bz2)       bunzip2 "$1"   ;;
      *.rar)       unrar x "$1"   ;;
      *.gz)        gunzip "$1"    ;;
      *.tar)       tar xf "$1"    ;;
      *.tbz2)      tar xjf "$1"   ;;
      *.tgz)       tar xzf "$1"   ;;
      *.zip)       unzip "$1"     ;;
      *.Z)         uncompress "$1";;
      *.7z)        7z x "$1"      ;;
      *.xz)        xz -d -v "$1"  ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

alias zshrc='${=EDITOR} ~/.zshrc' # Quick access to the ~/.zshrc file

{{ if eq .chezmoi.os "windows" -}}
alias killsshsocket="kill $(pgrep -f ssh-auth-sock)"
{{ end -}}
alias sshtmp='ssh -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking no"'
alias scptmp='scp -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking no"'
alias sftptmp='sftp -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking no"'
alias keys='ssh-add -l | sort -k 3'

command -v bat >/dev/null && alias cat='bat -p'
command -v most >/dev/null && alias man='man -P most'
command -v delta >/dev/null && alias diff='delta'
command -v duf >/dev/null && alias duf='duf -hide special'
command -v watch >/dev/null && alias watch='watch -c'
command -v ip >/dev/null && alias ip='ip -c'
command -v pwsh >/dev/null && alias pwsh='pwsh -NoLogo'
command -v gdu-go >/dev/null && alias go='gdu-go'

if command -v eza >/dev/null; then
  alias ls='eza --group-directories-first --color-scale all'
  alias la='ls -ablg --icons=auto'
  alias ll='ls -blg --icons=auto'
  alias lt='ls -T'
  alias llt='ll -T'
  alias llg='ll --git'
  alias lag='la --git'
fi

if command -v z >/dev/null; then
  alias cd='z'
  alias zz='z -'
fi

unsource() {
  if [[ $# -eq 0 ]]; then
    echo "Usage: unsource <file>" >&2
    return 1
  fi

  local file="$1"

  if [[ ! -f "$file" ]]; then
    echo "unsource: $file: No such file" >&2
    return 1
  fi

  while IFS= read -r line; do
    [[ "$line" =~ ^[[:space:]]*# ]] && continue
    [[ -z "${line// /}" ]] && continue

    if [[ "$line" =~ ^[[:space:]]*export[[:space:]]+ ]]; then
      local exports="${line#*export }"
      exports="${exports%%=*}"

      eval "unset $exports"
    fi
  done <"$file"
}

